

.container{
    width: 90%;
    margin: 65px auto;
}
.classes{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:55px;
    justify-content: flex-start;
    align-content: flex-start;
}

.blank_card{
    height: 180px;
    background-color: #e9e9e9;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.blank_card::before {
    content: '';
    position: absolute;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.9),
      transparent
    );
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    animation: loading .6s infinite;
  }

  @keyframes loading {
    0% {
      transform: skewX(-10deg) translateX(-100%);
    }
    100% {
      transform: skewX(-10deg) translateX(200%);
    }
  }
.logout_btn{
    width: 120px;
    height: 48px;
    background-color: aquamarine;
    position: fixed;
    bottom: 10px;
    border: 1px solid transparent;
    font-weight: 600;
    border-radius: 4px;
    right: 15px;
    cursor: pointer;
}
.logout_btn svg{
    visibility: hidden;
}


@media screen and (max-width:1100px){
    .classes{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:685px){
    .classes{
        grid-template-columns: 1fr;
    }
    .logout_btn span{
        display: none;
    }
    .logout_btn{
        width: 49px;
        height: 49px;
        border-radius: 50%;
    }
    .logout_btn svg{
        visibility: visible;
    }
    
}

